.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
	backface-visibility: hidden;
}

@variants hover, active {
	.rotateY-180 {
		transform: rotateY(180deg);
	}
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
		 -khtml-user-select: none; /* Konqueror HTML */
			 -moz-user-select: none; /* Old versions of Firefox */
				-ms-user-select: none; /* Internet Explorer/Edge */
						user-select: none; /* Non-prefixed version, currently
																	supported by Chrome, Opera and Firefox */
}

p {
	@apply font-mono
}


.wuji-icons {
	margin: 5px;
	width: 64px;
	height: 64px;

	.symbol {
		rect {
			fill:var(--text-default-color);
			stroke: none;
		}

	}
	.symbol {
		circle  {
			fill: none;
			stroke: var(--text-default-color);
		}
	}

}
