.theme-dark{
	--page-background-color: #151515;
	--card-background-color: rgba(102, 102, 102, 0.747);
	--button-background-color: #666;
	--header-background-color: #333;
	--menu-background-color: #333;

	--text-default-color: #fff;
	--text-inverse-color: #333;
	--text-muted-color: rgba(255, 255, 255, 0.5);
	--text-muted-light-color: rgba(255, 255, 255, 0.3);
	--text-accent-color: #47cdff;
	--text-accent-light-color: #8ae2fe;
	--text-error-color: red;
}
