.theme-light{
	--page-background-color: #fff;
	--header-background-color: #fff;
	--card-background-color: #dbe5eb81;
	--article-background-color: #dbe9eb81;
	--button-background-color: #fff;
	--menu-background-color: #333;

	--text-default-color: #333;
	--text-inverse-color: #fff;
	--text-hover-color: #4A5568;
	--text-accent-color: #63B3ED;
	--text-accent-light-color: #90CDF4;
	--text-muted-color: rgba(0, 0, 0, 0.3);
	--text-muted-light-color: rgba(255, 255, 255, 0.1);
	--text-error-color: #E53E3E;
}
